{% extends 'base.html.twig' %}

{% block title %}Sign Up!{% endblock %}

{% block footer %}{% endblock %}

{% block body %}
    <div class="register" data-component="register">
        <div class="divider-style"></div>

        <div class="content-sizer">
{#            <div class="title-section radial-text">#}
{#                <div class="title">Get started with the Functions Primitive</div>#}
{#                <div class="subtitle">Deploy your first Evervault Function and start running logic on encrypted data.#}
{#                </div>#}
{#            </div>#}
            {{ form_errors(registrationForm) }}
            {{ form_start(registrationForm) }}
            {% for flash_error in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}
            <div class="form-section">
                <div class="title-section radial-text">
                    <div class="title">Get started with the Functions Primitive</div>
                    <div class="subtitle">Deploy your first Evervault Function and start running logic on encrypted data.</div>
                </div>
                <div class="step">Step 1</div>
                <div class="vertical-line">
                    <div class="vertical-line__fill"></div>
                </div>
                <div class="form">


                    <div class="step-title">Personal Info</div>
                    {{ form_row(registrationForm.firstName) }}
                    {{ form_errors(registrationForm.firstName) }}
                    {{ form_row(registrationForm.lastName) }}
                    {{ form_errors(registrationForm.lastName) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_errors(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword, { label: 'Password'}) }}
                    {{ form_errors(registrationForm.plainPassword) }}
                </div>
            </div>
            <div class="form-section">
                <div class="title-section radial-text">
                    <div class="title">Get started with the Functions Primitive</div>
                    <div class="subtitle">Deploy your first Evervault Function and start running logic on encrypted data.</div>
                </div>
                <div class="step">Step 2</div>
                <div class="vertical-line">
                    <div class="vertical-line__fill"></div>
                </div>
                <div class="form">
                    <div class="step-title">Company Info</div>

                    {{ form_row(registrationForm.companyName) }}
                    {{ form_errors(registrationForm.companyName) }}

                    {{ form_row(registrationForm.contactEmail) }}
                    {{ form_errors(registrationForm.contactEmail) }}

                    {{ form_row(registrationForm.address) }}
                    {{ form_errors(registrationForm.address) }}

                    {{ form_row(registrationForm.phone) }}
                    {{ form_errors(registrationForm.phone) }}

                    {{ form_row(registrationForm.website) }}
                    {{ form_errors(registrationForm.website) }}

                    {{ form_errors(registrationForm.agreeTerms) }}

                    <div class="checkbox-wrap">
                        <div class="checkbox">
                            <label for="registration_form_agreeTerms" class="required">
                                {{ form_widget(registrationForm.agreeTerms) }}
                                Agree terms
                            </label>
                        </div>
                    </div>

                    <button type="submit">Register</button>
                </div>
            </div>

            {{ form_end(registrationForm) }}
        </div>

    </div>
{% endblock %}
