<div class="base-navigation">
{#    <div class="nav-section">#}
        <a class="logo" href="{{ path('app_home') }}">SFT</a>
{#    </div>#}

    <div class="nav-section">
        <a class="nav-link" href="{{ path('app_home') }}">Send File</a>
        <a class="nav-link" href="{{ path('app_home') }}">Send Email</a>
        <a class="nav-link" href="{{ path('app_home') }}">Transfer History</a>
    </div>

    <div class="nav-section">
        <a class="button nav-button button-blue" href="{{ path('app_logout') }}">Logout</a>
    </div>
</div>