<div class="sticky-wrap">
    <div class="navigation-menu">
        {% if app.user %}
            <a class="nav-link" href="{{ path('app_home') }}">Home</a>
            <a class="nav-link" href="{{ path('app_send') }}">Send</a>
            <a class="nav-link" href="{{ path('app_send_transfers') }}">Transfers</a>
            <a class="nav-link" href="{{ path('app_settings_general') }}">Settings</a>
            <a class="nav-link" href="{{ path('app_home') }}">Employee</a>
            <a class="nav-link" href="{{ path('app_price') }}">Price</a>


        {% else %}
            <a class="nav-link" href="{{ path('app_home') }}">Home</a>
            <a class="nav-link" href="{{ path('app_price') }}">Price</a>
            <a class="nav-link" href="{{ path('app_home') }}">Solutions</a>
            <a class="nav-link navigation-button" href="{{ path('app_home') }}">Talk to an Expert</a>
        {% endif %}

    </div>
</div>