<div class="form-section">
    {{ form_start(form) }}

    <div class="settings-field">
        {{ form_row(form.name) }}
    </div>
    <div class="settings-field">
        {{ form_row(form.contactEmail) }}
    </div>
    <div class="settings-field">
        {{ form_row(form.address) }}
    </div>
    <div class="settings-field">
        {{ form_row(form.phone) }}
    </div>

    <div class="settings-field">
        {{ form_row(form.website) }}
    </div>

    <div class="display-flex-end">
        <button type="submit" class="settings-edit-btn submit-btn">Save Changes</button>

    </div>
    {{ form_end(form) }}
</div>
