<div class="form-section" data-component="account-settings">
    {{ form_start(form) }}

    <div class="settings-field">
        {{ form_row(form.firstName) }}
    </div>
    <div class="settings-field">
        {{ form_row(form.lastName) }}
    </div>
    <div class="settings-field">
        {{ form_row(form.email) }}
    </div>

    {{ form_errors(form.plainPassword) }}
    <div id="password-mismatch-error"></div>

    <div class="settings-field">
        {{ form_label(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.first, {'attr': {'id': 'password'}}) }}
        {{ form_errors(form.plainPassword.first) }}
    </div>

    <div class="settings-field">
        {{ form_label(form.plainPassword.second) }}
        {{ form_widget(form.plainPassword.second, {'attr': {'id': 'confirm_password'}}) }}
        {{ form_errors(form.plainPassword.second) }}
    </div>

    <div class="display-flex-end">
        <button type="submit" class="settings-edit-btn submit-btn">Save Changes</button>

    </div>
    {{ form_end(form) }}
</div>
